/* Variables */
$font-one: 'droid-serif', serif;
$font-two: 'Montserrat', sans-serif;
$font-three: 'Roboto Slab', serif;
$font-four: 'Wisdom Script', sans-serif;
$color-one: #ffffff;
$color-two: #222222;
$color-three: #fed136;
$color-four: #777777;
$color-five: #f7f7f7;
/* GLobal */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    font-family: $font-three;
    color: $color-two;
}    
section {
    padding: 120px 0;
}    
.section-title {
    font-size: 40px;
    margin: 0 auto;
    font-family: $font-two;
    font-style: bold;
}    
.section-subtitle {
    font-size: 16px;
    color: $color-four;
    margin: 0 auto;
    font-family: $font-one;
    font-style: italic;
}
/* Splash */
.splash {
    position: relative;
    height: 100vh;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.splash-background {
    position: relative;
}
.splash-background::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 0.5;
}    
.splash-inner {
    position: absolute;
    right: auto;
    bottom: auto;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-one;
    h1 {
        font-family: $font-two;
        font-size: 75px;
    }
    h2 {
        font-family: $font-one;
        font-size: 40px;
        font-style: italic;
    }
}
.navigation {
    position: absolute;
    padding: 12px 0;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        display: inline-block;
        position: relative;
        margin-right: 15px; 
    }      
    a {
        font-family: $font-two;
        text-decoration: none;
        color: $color-one;
    }
    a:hover {
        color: $color-three;
    }    
}
.navigation-title {
    margin-left: 36px;
    font-family: $font-four;
    font-size: 26px;
    color: $color-three;
    p {
        margin: 0;
        padding: 0;
    }
}
.btn {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 220px;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-two;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
    background-color: $color-three;  
}    
.btn::before {
    position: absolute;
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 0.3;
}    
.btn:hover::before {
    display: block;
}

/* Services */
.services {
    padding-top: 175px;
    .services-row {
        padding-top: 80px;
    }
    i {
        font-size: 30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        color: $color-three;
        border: solid 1px $color-three;
        border-radius: 50%;
        margin: 0 auto;
    }
    p {
        text-align: center;
        font-family: $font-three;
        color: $color-four;
    }
    h3 {
        font-family: $font-two;
    }
}

/* Gallery */
.gallery {
    background: $color-five;
}
.gallery-row {
    padding-top: 80px;
}
.gallery-image {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.gallery-description {
    display: block;
    background: $color-one;
    flex: 1 1 auto;
    padding: 10px 0;
    h3 {
        margin: 0 auto;
        font-family: $font-two;
        text-align: center;
    }
    p {
        margin: 0 auto;
        text-align: center;
        font-family: $font-three;
        color: $color-four;
        font-style: italic;
    }
}
.gallery-col {
    padding-bottom: 60px;
}

/* Footer */
.footer {
    a {
        text-decoration: none;
    }
    ul {
        text-align: center;
        list-style-type: none;
    }
    li {
        display: inline-block;
        font-size: 0;
        padding: 5px;
    }
    i {
        font-size: 25px;
        background: $color-two;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: $color-one;
        border-radius: 50%;
    }
}

/* Media */
@media (max-width: 767px) {
    .splash-inner {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
    }
}