/* Variables */
$font-one: 'droid-serif', serif;
$font-two: 'Montserrat', sans-serif;
$font-three: 'Roboto Slab', serif;
$font-four: 'Wisdom Script', sans-serif;
$color-one: #ffffff;
$color-two: #222222;
$color-three: #fed136;
$color-four: #777777;
$color-five: #f7f7f7;